@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {

  box-sizing: border-box;

}

body {

  background-color: #6710f227 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lato', sans-serif !important;

}

.todo_container {

  background-color: #FFFFFF;
  width: 450px;
  /* height: 100%; */
  padding: 30px;

}

.form-control:focus {

  border-color: #6610F2 !important;

}

.btn.btn-primary {

  background-color: #6610F2 !important;
  border-color: #6610F2 !important;

}